
@{
    ViewData["Title"] = "Contact";
}
<h1 class="text-light">@ViewData["Title"]</h1>

<!--Contact View Home Controller-->
<h3 class="text-white">
    Email all business inquiries to
</h3>

<h4>
    lctechnology@protonmail.com
</h4>