@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="text-light">@ViewData["Title"]</h1>

<!--threejs demo page-->
<div style="background-color:white;" >
     <h1 class="text-info" style="color:black" >
        LC Technologies does not collect user data or any personal private information for our apps.
    </h1>
</div>
