
@{
    ViewData["Title"] = "Contact";
}
<h1 class="text-light">@ViewData["Title"]</h1>

<!--Contact View Home Controller-->
<h3 class="text-info">
    Email
</h3>
<a href="https://giphy.com/gifs/culture--think-hmm-d3mlE7uhX8KFgEmY" target="_blank">Email</a>