@{
    ViewData["Title"] = "LC Technologies";
}

<!--Home Index-->
<!--welcome message on home page-->
    <div class="container">
        <div class="jumbotron font-weight-bolder" style="background-color: rgba(0, 222, 255, 0.8);">
            <h1 class=" text-black font-weight-bold" style="text-align:center;">Welcome!</h1>
            <p class="h5 text-black font-weight-bold" style="text-align:center;">
                LC Technologies is a mobile, web and software development company founded by Linden Crandall in 2022. 
                I am a follower of Jesus Christ, a husband, a musician,
                an Air Force Veteran, and a current Computer Science student.
                Check out my projects, repos on GitHub, or listen to some of my music. ようこそ！
            </p>
            <div class="rounded align-items-center"  style=" background-color: rgb(255, 255, 255, .7);">
                <blockquote class="blockquote mt-auto text-black">
                    <p class="mb-0 tex h5 font-weight-bold font-italic text-black">"Greater love has no man than this: that a man lay down his life for his friends."</p>
                    <footer class="h6 text-black">-John 15:13 <cite title="Source Title">King James Version Bible</cite></footer>
                </blockquote>
            </div>
        </div>
    </div>
