@{
    ViewData["Title"] = "LC Technologies";
}

<!--Home Index-->
<!--welcome message on home page-->
    <div class="container">
        <div class="jumbotron font-weight-bolder" style="background-color: rgba(0, 222, 255, 0.8);">
            <h1 class=" text-black font-weight-bold" style="text-align:center;">Welcome!</h1>
            <p class="h5 text-black font-weight-bold" style="text-align:center;">
                LC Technologies is a mobile, web and software development company founded by Linden Crandall in 2022. 
                I am a follower of Jesus Christ, a husband, software engineer,
                an Air Force Veteran.
            </p>
            <div class="rounded align-items-center"  style=" background-color: rgb(255, 255, 255, .7);">
                <blockquote class="blockquote mt-auto text-black">
                    <p class="mb-0 tex h6 font-weight-bold font-italic text-black">
                    "Whatever you do, work at it with all your heart, as working for the Lord, not for human masters,"
                    </p>
                    <footer class="h6 text-black">-Colossians 3:23 <cite title="Source Title">NIV</cite></footer>
                </blockquote>
            </div>
        </div>
    </div>
