
@{
    ViewData["Title"] = "Blog";
}

<!--Blog page-->
<h1 class="text-info">
    This page will be updated soon. Check again later!
</h1>
<div class="container d-flex justify-content-center">
    <iframe src="https://giphy.com/embed/joV1k1sNOT5xC"
            style="width: 100%; height: 400px; pointer-events:none" frameBorder="0"
            allowFullScreen>
    </iframe>
</div>